version: '3'
services:
  frontend:
    build: ./frontend
    ports:
      - "4200:4200"
    networks:
      - app-network

  backend:
    build: ./backend
    ports:
      - "3000:3000"
    environment:
      - DB_HOST=mysql-db
    networks:
      - app-network
    depends_on:
      - mysql-db

  mysql-db:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: tu_password
      MYSQL_DATABASE: nombre_base_datos
      MYSQL_USER: tu_usuario
      MYSQL_PASSWORD: tu_password
    ports:
      - "3306:3306"
    volumes:
      - ./database:/docker-entrypoint-initdb.d
    networks:
      - app-network

networks:
  app-network:
