.orden-trabajo-container {
  background-color: #F3F8FC;
  border-radius: 12px;
  max-width: 900px;
  margin: 30px auto;
  padding: 40px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
  font-size: 18px;
  padding: 20px;
  background: linear-gradient(180deg, #81C1FF 0%, #4D9DE0 100%);
  border-radius: 8px;
  color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
  margin-bottom: 30px;
}

.header-text {
  margin-left: 20px;
  font-size: 18px;
  font-weight: bold;
}

.back-arrow {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease;
}
.back-arrow img {
  width: 20px; 
  height: 20px;
}
.back-arrow:hover {
  transform: scale(1.1);
}

.card-principal, .card-secundario {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.text-card-principal h3 {
  font-size: 26px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

.text-card-principal p {
  font-size: 18px;
  color: #666;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
  margin-top: 20px;
}

thead {
  background-color: #4D9DE0;
  color: white;
  font-weight: bold;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  font-size: 16px;
}

tbody tr:hover {
  background-color: #f1f5f9;
  cursor: pointer;
}

tbody tr:nth-child(even) {
  background-color: #f9fbfd;
}

@media (min-width: 1200px) {
  .orden-trabajo-container {
    padding: 60px;
    width: 70%;
  }

  .header-text {
    font-size: 20px;
  }

  .text-card-principal h3 {
    font-size: 30px;
  }

  .text-card-principal p {
    font-size: 20px;
  }
}
