<section class="container">
    <div class="header">
      <div class="back-arrow" (click)="goBack()">
        <img src="../../../assets/arrow.png" alt="Back">
      </div>
      <div class="header-text">
        <h2>Gestion de Infraestructura</h2>
      </div>
    </div>
    
    <div class="card-principal">
      <div class="text-card-principal">
        <h3>Hola, Administrador</h3>
        <p>Selecciona una opción</p>
      </div>
  
      <button class="action-button solicitar-button" (click)="navigateToActivos()">Gestionar Activos</button>
 
      
    </div>
  </section>