<section class="generar-orden-container">
    <div class="form-header">
        <div class="back-arrow" (click)="goBack()">
            <img src="../../../assets/arrow.png" alt="Back">
          </div>
      <div class="form-title">
        <h2>Generar Orden de trabajo</h2>
        <p>Complete los siguientes datos para solicitar el trabajo</p>
      </div>
    </div>
  
    <div class="form-body">
      <div class="form-group">
        <label for="edificio">Edificio:</label>
        <select id="edificio" class="form-control" [(ngModel)]="ordenTrabajo.edificio" (change)="onEdificioChange($event)">
          <option value="">Seleccione un edificio</option>
          <option *ngFor="let edificio of getUniqueEdificios()" [value]="edificio.id_edificio">{{ edificio.nombre }}</option>
        </select>
      </div>
  
      <div class="form-group">
        <label for="piso">Piso/Nivel:</label>
        <select id="piso" class="form-control" [(ngModel)]="ordenTrabajo.piso" (change)="onPisoChange($event)">
          <option value="">Seleccione un piso o nivel</option>
          <option *ngFor="let piso of getUniquePisos()" [value]="piso.id_piso">{{ piso.piso }}</option>
        </select>
      </div>
  
      <div class="form-group">
        <label for="sector">Sector:</label>
        <select id="sector" class="form-control" [(ngModel)]="ordenTrabajo.sector" (change)="onSectorChange($event)">
          <option value="">Seleccione un sector</option>
          <option *ngFor="let sector of getUniqueSectores()" [value]="sector.id_sector">{{ sector.sector }}</option>
        </select>
      </div>
  
      <div class="form-group">
        <label for="ubicacion">Ubicación:</label>
        <select id="ubicacion" class="form-control" [(ngModel)]="ordenTrabajo.ubicacion" (change)="onUbicacionChange($event)">
          <option value="">Seleccione una ubicación</option>
          <option *ngFor="let ubicacion of getUniqueUbicaciones()" [value]="ubicacion.idubicacion_activo">{{ ubicacion.ubicacion }}</option>
        </select>
      </div>
  
      <div class="form-group">
        <label for="tipoActivo">Tipo de Activo:</label>
        <select id="tipoActivo" class="form-control" (change)="onActivoChange($event)">
          <option value="">Seleccione un tipo de activo</option>
          <option *ngFor="let activo of activos" [value]="activo.id_activo + '-' + activo.id_tarea">{{ activo.tipo }}</option>
        </select>
      </div>
      
      <div class="form-group">
        <label for="operario">Operario:</label>
        <select id="operario" class="form-control" [(ngModel)]="ordenTrabajo.operario">
          <option value="">Seleccione un operario</option>
          <option *ngFor="let operario of operario" [value]="operario.id_usuario">
            {{ operario.nombre }} {{ operario.apellido }}
          </option>
        </select>
      </div>

      
      <div class="form-group">
        <label>Tareas asociadas:</label>
        <select id="tareas" class="form-control" multiple [(ngModel)]="ordenTrabajo.id_activo_tarea">
          <option *ngFor="let tarea of tarea" [value]="tarea.id_tarea">{{ tarea.tarea }}</option>
        </select>
      </div>
  
      <button class="submit-button" (click)="enviarSolicitud()">Enviar Solicitud</button>
    </div>
  </section>
  