.orden-trabajo-container {
  background-color: #EFF3F5;
  border-radius: 10px;
  max-width: 800px; /* Aumentado para pantallas de PC */
  margin: 30px auto; /* Añadido margen superior e inferior */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 20px; /* Añadido padding interno */
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px; /* Aumentado para mejor legibilidad */
  padding: 15px;
  margin-top: 10px; /* Menor margen superior */
  background: linear-gradient(180deg, #A0C4FF 0%, #4D9DE0 100%);
}

.header-text {
  margin-left: 15px; /* Añadido margen para separación */
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alineación a la izquierda */
}

.back-arrow {
  cursor: pointer;
  width: 25px; /* Incrementado para mejor usabilidad */
  height: 25px; /* Incrementado para mejor usabilidad */
}

.back-arrow img {
  width: 100%; /* Ajustar imagen al contenedor */
  height: auto;
}

h2 {
  font-size: 24px; /* Aumentado para destacar el título */
  font-weight: bold;
  margin: 5px 0;
  color: white;
}

p {
  margin: 5px 0;
  color: white;
}

.detalle-tarea {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px; /* Aumentado para mayor espacio interno */
  margin: 25px 0; /* Separación vertical */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.text-detalle-tarea {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

h3 {
  font-size: 20px; /* Aumentado para mejor visibilidad */
  font-weight: bold;
  color: #333;
}

.fecha {
  font-size: 16px; /* Aumentado para mejor legibilidad */
  color: #888;
  margin-bottom: 10px;
}

.info {
  margin: 10px 0 30px 0;
}

.info div {
  margin-bottom: 10px;
  font-size: 16px; /* Aumentado para mejor legibilidad */
}

h4 {
  margin-bottom: 5px;
  font-size: 18px; /* Aumentado para mejor visibilidad */
}

strong {
  font-weight: bold;
  color: #555;
}

.estado-pendiente {
  color: red; 
  font-weight: bold; 
}

textarea {
  width: 100%; /* Ancho completo */
  height: 100px; /* Aumentado para más espacio */
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 10px;
  margin-bottom: 10px;
  resize: none;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.finalizar-button {
  background-color: #4D9DE0;
  color: white;
  padding: 12px; /* Aumentado para mejor clic */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%; /* Ancho completo */
  font-size: 18px; /* Aumentado para mejor legibilidad */
  font-weight: bold;
}

.finalizar-button:hover {
  background-color: #3A7BAE; 
}

  