/* Estilos generales */
body, h1, h3, label, input, .login-button {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #ffffff;
  padding: 50px;
}

.login-form-content {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  width: 90%;
  max-width: 600px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.container-header-image {
  position: relative;
  width: 100%;
}

.header-image {
  width: 100%;
  max-height: 150px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}


.back-arrow {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.back-arrow img {
  width: 100%;
  height: 100%;
}
h1 {
  font-size: 32px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

h3 {
  font-size: 18px;
  color: #555;
  margin-bottom: 20px;
}

label {
  font-weight: 600;
  color: #333;
  display: block;
  text-align: left;
  margin: 10px 0 5px;
}
input, select {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
  transition: all 0.3s ease;
  outline: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

input:focus, select:focus {
  border-color: #6AA2E6;
  box-shadow: 0 0 8px rgba(106, 162, 230, 0.5);
}

.login-button {
  width: 100%;
  background-color: #6AA2E6;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
  font-size: 18px;
  transition: background-color 0.3s ease, transform 0.1s ease;
}

.login-button:hover {
  background-color: #5F96E9;
  transform: scale(1.02);
}
@media (min-width: 768px) {
  .login-form-content {
      width: 70%;
      padding: 50px;
  }

  h1 {
      font-size: 36px;
  }

  h3 {
      font-size: 22px;
  }

  .login-button {
      font-size: 20px;
  }
}

@media (min-width: 1024px) {
  .login-form-content {
      width: 50%;
  }
}
