.login-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #ffffff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 50px;
}

.back-arrow {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.back-arrow img {
  width: 100%;
  height: 100%;
}

.container-header-image {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 20px;
}

.header-image {
  width: 100%;
  max-height: 150px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.login-form-content {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  font-size: 24px;
  margin: 0;
  font-weight: bold;
  color: #333;
}

h3 {
  font-size: 16px;
  color: #555;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-top: 15px;
  font-size: 14px;
  color: #555;
  text-align: left;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

input {
  width: 90%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.login-button {
  width: 90%;
  background-color: #6AA2E6;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #5F96E9;
}

@media (min-width: 768px) {
  .login-form-content {
    width: 60%;
  }
}

@media (min-width: 1024px) {
  .login-form-content {
    width: 40%;
  }
}
